-- Fix tarot_spreads category check constraint to allow 'flexible'
-- This resolves the constraint violation when creating flexible spreads

-- Drop the existing constraint
ALTER TABLE tarot_spreads DROP CONSTRAINT IF EXISTS tarot_spreads_category_check;

-- Add the updated constraint that includes 'flexible'
ALTER TABLE tarot_spreads ADD CONSTRAINT tarot_spreads_category_check 
CHECK (category IN ('love', 'career', 'general', 'spiritual', 'health', 'finance', 'decision', 'flexible'));

-- Verify the fix
SELECT 'Category constraint updated to allow flexible spreads' as status;
