-- ============================================================
-- SAMIA TAROT - NEW APIS DATABASE TABLES (FIXED VERSION)
-- Tables for Monitor, Notifications, Emergency, and AI Moderation APIs
-- Fixed: All auth.users references changed to profiles references
-- ============================================================

-- Enable required extensions
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ============================================================
-- 1. NOTIFICATIONS API TABLES (ESSENTIAL FOR IMMEDIATE FIX)
-- ============================================================

-- Notifications Table
CREATE TABLE IF NOT EXISTS notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    
    recipient_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
    sender_id UUID REFERENCES profiles(id) ON DELETE SET NULL,
    
    type VARCHAR(100) NOT NULL,
    title VARCHAR(255) NOT NULL,
    message TEXT NOT NULL,
    
    data JSONB DEFAULT '{}'::jsonb,
    priority VARCHAR(20) DEFAULT 'medium' CHECK (priority IN ('low', 'medium', 'high', 'urgent')),
    
    channels TEXT[] DEFAULT ARRAY['socket'],
    
    read_at TIMESTAMP WITH TIME ZONE,
    delivered_at TIMESTAMP WITH TIME ZONE,
    clicked_at TIMESTAMP WITH TIME ZONE,
    
    is_system BOOLEAN DEFAULT false,
    expires_at TIMESTAMP WITH TIME ZONE,
    
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_notifications_recipient_id ON notifications(recipient_id);
CREATE INDEX IF NOT EXISTS idx_notifications_type ON notifications(type);
CREATE INDEX IF NOT EXISTS idx_notifications_read_at ON notifications(read_at);
CREATE INDEX IF NOT EXISTS idx_notifications_created_at ON notifications(created_at);
CREATE INDEX IF NOT EXISTS idx_notifications_priority ON notifications(priority);

-- Enable RLS
ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

-- RLS Policies
-- Users can only see their own notifications
CREATE POLICY "users_can_view_own_notifications" ON notifications
    FOR SELECT USING (recipient_id = auth.uid());

-- Users can mark their own notifications as read
CREATE POLICY "users_can_update_own_notifications" ON notifications
    FOR UPDATE USING (recipient_id = auth.uid());

-- Only system/admins can create notifications
CREATE POLICY "system_can_create_notifications" ON notifications
    FOR INSERT WITH CHECK (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND role IN ('admin', 'super_admin', 'monitor')
        )
        OR current_setting('role') = 'service_role'
    );

-- Admins can manage all notifications
CREATE POLICY "admins_can_manage_all_notifications" ON notifications
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND role IN ('admin', 'super_admin')
        )
    );

-- Grant permissions
GRANT SELECT, UPDATE ON notifications TO authenticated;
GRANT ALL ON notifications TO service_role;

-- ============================================================
-- COMPLETION MESSAGE
-- ============================================================

SELECT 'Notifications table created successfully with profiles references!' as status;
